artifacts/confident-ai/media/nova-confident-ai-silent.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/confident-ai/media/nova-confident-ai-clicks.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/confident-ai/media/nova-confident-ai-original.mov filter=lfs diff=lfs merge=lfs -text
